<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <!--<ion-menu-button color="ghg-green"></ion-menu-button>-->
      <ion-back-button color="ghg-green"></ion-back-button>
    </ion-buttons>
    <!--<ion-buttons slot="end">
      <fa-icon [icon]="['fas','info-circle']"></fa-icon>
    </ion-buttons>-->
  </ion-toolbar>
  <ion-title>
    Notification
  </ion-title>
</ion-header>

<ion-content>
  <div *ngIf="!isGotNotification; else gotNotification" class="error-section">
    <ion-img [src]="imgNotFound"></ion-img>
    <p>No notification found</p>
  </div>
  <ng-template #gotNotification>
    <ion-row>
      <ion-col>
        <ion-card mode="ios">
          <ion-card-content>
            <ion-item class="history">
              <ion-label class="ion-text-wrap">
                <p>#421231</p>
                <p>You has been nominated to evaluate an application, please check on To Evaluate page</p>
              </ion-label>
              <ion-thumbnail slot="end">
                <img [src]="imgNotiThumbnail">
              </ion-thumbnail>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>

