<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button color="ghg-green"></ion-back-button>
      <!--<ion-menu-button color="ghg-green"></ion-menu-button>-->
    </ion-buttons>
  </ion-toolbar>
  <ion-title>
    History
  </ion-title>
</ion-header>

<ion-content>

  <ion-grid class="settings">

    <ion-row>
      <ion-col>
        <div class="section-title">
          <h3>Application assessment detail</h3>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <form>
          <ion-item mode="ios">
            <p>Energy</p>
            <ion-label position="stacked" mode="ios">Initiative</ion-label>
            <p>This is an initative done by me</p>
          </ion-item>
          <ion-item mode="ios">
            <ion-label position="stacked" mode="ios">Improvement</ion-label>
            <p>This is an improvement done by me</p>
          </ion-item>
          <ion-item mode="ios">
            <ion-label position="stacked" mode="ios">Remarks by evaluator</ion-label>
            <p>A good one</p>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <form>
          <ion-item mode="ios">
            <p>Transportation</p>
            <ion-label position="stacked" mode="ios">Initiative</ion-label>
            <p>This is an initative done by me</p>
          </ion-item>
          <ion-item mode="ios">
            <ion-label position="stacked" mode="ios">Improvement</ion-label>
            <p>This is an improvement done by me</p>
          </ion-item>
          <ion-item mode="ios">
            <ion-label position="stacked" mode="ios">Remarks by evaluator</ion-label>
            <p>A good one</p>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>