<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button color="ghg-green"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-title>
    {{'HELPDESK.helpdesk'| translate}}
  </ion-title>
</ion-header>

<ion-content class="settings">

  <ion-grid>

    <ion-row>
      <ion-col>
        <div class="section-title">
          <h3>{{'HELPDESK.title'| translate}}</h3>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <form [formGroup]="ticketQuestionForm">
          <ion-item mode="ios">
            <ion-label position="stacked" mode="ios">{{'HELPDESK.comment'| translate}}</ion-label>
            <ion-textarea placeholder="{{'HELPDESK.commentBox'| translate}}" formControlName="question">
            </ion-textarea>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-button class="btn-green-lg mt-1" (click)="submitQuestion()">{{'HELPDESK.submit'| translate}}</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let ticket of loadedTicketQuestions">
      <ion-col>
        <ion-card>
          <ion-card-header color="light">
            <ion-card-subtitle>
              <p class="m-0">{{ticket.date_submitted}}</p>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item class="ticket-list">
              <ion-text class="ion-text-wrap">
                <h5 style="color: #a9a9a9;">{{'HELPDESK.question'| translate}}</h5>
                <p>{{ticket.question}}</p>
              </ion-text>
            </ion-item>
            <div *ngFor="let reply of loadedTicketAnswers">
              <div *ngIf="ticket.id == reply.question_id">
                <ion-item lines="none" class="ticket-list">
                  <ion-text class="ion-text-wrap">
                    <h5 style="color: #a9a9a9;">{{'HELPDESK.reply'| translate}}</h5>
                    <p>{{reply.answer}}</p>
                  </ion-text>
                </ion-item>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>