<div class="header bg-transparent pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Settings</h6>

                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li aria-current="page" class="breadcrumb-item active text-dark">
                                Account
                            </li>
                        </ol>
                    </nav>
                </div>

                <div class="col-lg-6 col-5 text-right">
                    <a class="btn btn-sm btn-info" href="javascript:void(0)"> New </a>

                    <a class="btn btn-sm btn-info" href="javascript:void(0)">
                        Filters
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-5">
            <div class="card">
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>