<ngx-loading-bar></ngx-loading-bar>
<div class="header bg-transparent pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Carbon Emission Factor
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a [routerLink]="['/dashboard']">
                  <i class="fas fa-home text-dark"> </i>
                </a>
              </li>

              <li aria-current="page" class="breadcrumb-item active">
                Carbon Emission Factor
              </li>
            </ol>
          </nav>
        </div>

        <div class="col-lg-6 col-5 text-right">
          <a
            class="btn btn-sm btn-info text-white"
            (click)="openModal(regCarbon, 'register', '')"
          >
            Register Carbon Emission Factor
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-info py-2">
          <div class="row">
            <div class="col my-auto">
              <h4 class="text-white m-0">Carbon Emission Factors list</h4>
            </div>
          </div>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="
                      form-control form-control-sm
                      custom-select custom-select-sm
                    "
                    (change)="entriesChange($event)"
                  >
                    <option value="5" [selected]="tableEntries == 5">5</option>
                    <option value="10" [selected]="tableEntries == 10">
                      10
                    </option>
                    <option value="15" [selected]="tableEntries == 15">
                      15
                    </option>
                    <option value="-1" [selected]="tableEntries == -1">
                      All
                    </option>
                  </select>
                  records
                </label>
              </div>
            </div>

            <div class="col-sm-12 col-md-6">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search records"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div>
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="tableEntries != -1 ? tableEntries : undefined"
            [rows]="tableTemp"
          >
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>No.</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.no }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Electric</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.electric_carbon_emission_factor }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Water</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.water_carbon_emission_factor }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Year</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.year }}
              </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Status</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div *ngIf="row.is_active">
                  <a class="badge badge-success">Active</a>
                </div>
                <div *ngIf="!row.is_active">
                  <a class="badge badge-danger">Inactive</a>
                </div>
              </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Action</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button
                  class="btn btn-icon btn-2 btn-primary btn-sm"
                  type="button"
                  (click)="openModal(viewCarbon, 'update', row)"
                >
                  <span class="btn-inner--icon"
                    >Edit <i class="fas fa-edit"></i
                  ></span>
                </button>
                <button
                  class="btn btn-icon btn-2 btn-danger btn-sm"
                  type="button"
                  (click)="deleteCarbon(row)"
                >
                  <span class="btn-inner--icon"
                    >Delete <i class="fas fa-trash"></i
                  ></span>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #regCarbon let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header bg-info">
      <h6 class="modal-title" id="modal-title-default">
        Register Carbon Emission Factor
      </h6>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="defaultModal.hide()"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="carbonEmissionFactorForm">
        <div
          class="form-group"
          [ngClass]="{ focused: focusElectricCarbonEmissionFactor === true }"
        >
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text bg-info">
                <i class="fas fa-database text-white"></i>
              </span>
            </div>
            <input
              class="form-control text-dark"
              placeholder="Electric carbon emission factor*"
              type="number"
              formControlName="electric_carbon_emission_factor"
              (focus)="focusElectricCarbonEmissionFactor = true"
              (blur)="focusElectricCarbonEmissionFactor = false"
            />
          </div>
          <ng-container
            *ngFor="
              let validation of carbonEmissionFactorValidationMessage.electric_carbon_emission_factor
            "
          >
            <div
              class="error-message"
              *ngIf="
                carbonEmissionFactorForm
                  .get('electric_carbon_emission_factor')
                  .hasError(validation.type) &&
                (carbonEmissionFactorForm.get('electric_carbon_emission_factor')
                  .dirty ||
                  carbonEmissionFactorForm.get(
                    'electric_carbon_emission_factor'
                  ).touched)
              "
            >
              <p>
                <span>*{{ validation.message }}</span>
              </p>
            </div>
          </ng-container>
        </div>
        <div
          class="form-group"
          [ngClass]="{ focused: focusWaterCarbonEmissionFactor === true }"
        >
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text bg-info">
                <i class="fas fa-database text-white"></i>
              </span>
            </div>
            <input
              class="form-control text-dark"
              placeholder="Water carbon emission factor*"
              type="text"
              formControlName="water_carbon_emission_factor"
              (focus)="focusWaterCarbonEmissionFactor = true"
              (blur)="focusWaterCarbonEmissionFactor = false"
            />
          </div>
          <ng-container
            *ngFor="
              let validation of carbonEmissionFactorValidationMessage.water_carbon_emission_factor
            "
          >
            <div
              class="error-message"
              *ngIf="
                carbonEmissionFactorForm
                  .get('water_carbon_emission_factor')
                  .hasError(validation.type) &&
                (carbonEmissionFactorForm.get('water_carbon_emission_factor')
                  .dirty ||
                  carbonEmissionFactorForm.get('water_carbon_emission_factor')
                    .touched)
              "
            >
              <p>
                <span>*{{ validation.message }}</span>
              </p>
            </div>
          </ng-container>
        </div>
        <div class="form-group" [ngClass]="{ focused: focusYear === true }">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text bg-info">
                <i class="fas fa-database text-white"></i>
              </span>
            </div>
            <select
              class="custom-select form-control"
              formControlName="year"
              (focus)="focusYear = true"
              (blur)="focusYear = false"
            >
              <option selected hidden value="">Select year</option>
              <option *ngFor="let year of year2011tocurrentyear" [value]="year.value">
                {{ year.display_name }}
              </option>
            </select>
          </div>
          <ng-container
            *ngFor="let validation of carbonEmissionFactorValidationMessage.year"
          >
            <div
              class="error-message"
              *ngIf="
                carbonEmissionFactorForm
                  .get('year')
                  .hasError(validation.type) &&
                (carbonEmissionFactorForm.get('year').dirty ||
                  carbonEmissionFactorForm.get('year').touched)
              "
            >
              <p>
                <span>*{{ validation.message }}</span>
              </p>
            </div>
          </ng-container>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-info"
        (click)="registerCarbon()"
        [disabled]="!carbonEmissionFactorForm.valid"
      >
        Register
      </button>
      <button
        type="button"
        class="btn btn-link-info ml-auto"
        data-dismiss="modal"
        (click)="defaultModal.hide()"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>

<ng-template #viewCarbon let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header bg-info">
      <h6 class="modal-title" id="modal-title-default">
        Update Carbon Emission Factor
      </h6>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="defaultModal.hide()"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="carbonEmissionFactorForm">
        <div
          class="form-group"
          [ngClass]="{ focused: focusElectricCarbonEmissionFactor === true }"
        >
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text bg-info">
                <i class="fas fa-database text-white"></i>
              </span>
            </div>
            <input
              class="form-control text-dark"
              placeholder="Electric carbon emission factor*"
              type="number"
              formControlName="electric_carbon_emission_factor"
              (focus)="focusElectricCarbonEmissionFactor = true"
              (blur)="focusElectricCarbonEmissionFactor = false"
            />
          </div>
          <ng-container
            *ngFor="
              let validation of carbonEmissionFactorValidationMessage.electric_carbon_emission_factor
            "
          >
            <div
              class="error-message"
              *ngIf="
                carbonEmissionFactorForm
                  .get('electric_carbon_emission_factor')
                  .hasError(validation.type) &&
                (carbonEmissionFactorForm.get('electric_carbon_emission_factor')
                  .dirty ||
                  carbonEmissionFactorForm.get(
                    'electric_carbon_emission_factor'
                  ).touched)
              "
            >
              <p>
                <span>*{{ validation.message }}</span>
              </p>
            </div>
          </ng-container>
        </div>
        <div
          class="form-group"
          [ngClass]="{ focused: focusWaterCarbonEmissionFactor === true }"
        >
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text bg-info">
                <i class="fas fa-database text-white"></i>
              </span>
            </div>
            <input
              class="form-control text-dark"
              placeholder="Water carbon emission factor*"
              type="text"
              formControlName="water_carbon_emission_factor"
              (focus)="focusWaterCarbonEmissionFactor = true"
              (blur)="focusWaterCarbonEmissionFactor = false"
            />
          </div>
          <ng-container
            *ngFor="
              let validation of carbonEmissionFactorValidationMessage.water_carbon_emission_factor
            "
          >
            <div
              class="error-message"
              *ngIf="
                carbonEmissionFactorForm
                  .get('water_carbon_emission_factor')
                  .hasError(validation.type) &&
                (carbonEmissionFactorForm.get('water_carbon_emission_factor')
                  .dirty ||
                  carbonEmissionFactorForm.get('water_carbon_emission_factor')
                    .touched)
              "
            >
              <p>
                <span>*{{ validation.message }}</span>
              </p>
            </div>
          </ng-container>
        </div>
        <div class="form-group" [ngClass]="{ focused: focusYear === true }">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text bg-info">
                <i class="fas fa-database text-white"></i>
              </span>
            </div>
            <select
              class="custom-select form-control"
              formControlName="year"
              (focus)="focusYear = true"
              (blur)="focusYear = false"
            >
              <option selected hidden value="">Select year</option>
              <option *ngFor="let year of year2011tocurrentyear" [value]="year.value">
                {{ year.display_name }}
              </option>
            </select>
          </div>
          <ng-container
            *ngFor="let validation of carbonEmissionFactorValidationMessage.year"
          >
            <div
              class="error-message"
              *ngIf="
                carbonEmissionFactorForm
                  .get('year')
                  .hasError(validation.type) &&
                (carbonEmissionFactorForm.get('year').dirty ||
                  carbonEmissionFactorForm.get('year').touched)
              "
            >
              <p>
                <span>*{{ validation.message }}</span>
              </p>
            </div>
          </ng-container>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-info"
        (click)="updateCarbon()"
        [disabled]="!carbonEmissionFactorForm.valid"
      >
        Update
      </button>
      <button
        type="button"
        class="btn btn-link-info ml-auto"
        data-dismiss="modal"
        (click)="defaultModal.hide()"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>
