<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button color="ghg-green"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-content">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="section-title mt-4">
          <h1>{{ "LOGIN.resetPasswordInstruction" | translate }}</h1>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="mt-4">
          <form [formGroup]="changePasswordForm">
            <ion-item lines="none">
              <ion-label position="stacked" mode="ios">
                {{ "LOGIN.password" | translate }}
              </ion-label>
              <ion-input
                clearInput
                type="password"
                mode="ios"
                placeholder="********"
                formControlName="password1"
              >
                <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
              </ion-input>
              <ng-container
                *ngFor="let message of changePasswordFormMessage.password"
              >
                <div
                  class="error-message"
                  *ngIf="
                    changePasswordForm
                      .get('password1')
                      .hasError(message.type) &&
                    (changePasswordForm.get('password1').dirty ||
                      changePasswordForm.get('password1').touched)
                  "
                >
                  <p class="error-text">
                    <span>*{{ message.message }}</span>
                  </p>
                </div>
              </ng-container>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked" mode="ios">
                {{ "LOGIN.confirmPassword" | translate }}
              </ion-label>
              <ion-input
                clearInput
                type="password"
                mode="ios"
                placeholder="********"
                formControlName="password2"
              >
                <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
              </ion-input>
            </ion-item>

            <ion-item lines="none" mode="ios">
              <ion-button
                class="btn-green-lg mt-1"
                [disabled]="changePasswordForm.status == 'INVALID'"
                (click)="changePassword()"
              >
                {{ "LOGIN.resetPasswordSubmit" | translate }}
              </ion-button>
            </ion-item>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
