.client-logo-area {
    text-align: center;
    margin-bottom: 2rem;
    .client-logo {
        max-width: 40%;
    }
}

.auth-content {
    background-color: #2dce89;
    background-image: url('../../../assets/img/background/green-leaf-plant.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.forgot-label {
    font-size: 0.875rem;
    color: #525f7f;
    cursor: pointer;
}

.validation-errors {
    min-height: 25px;
}

.error-message {
    color: #f5365c;
    text-align: right;
    font-size: 0.8em;
    padding-top: 5px;
}