<ngx-loading-bar></ngx-loading-bar>
<div class="header bg-transparent pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Profile</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a [routerLink]="['/dashboard']"> <i class="fas fa-home text-dark"> </i> </a>
                            </li>
              
                            <li aria-current="page" class=" breadcrumb-item active">
                                Profile
                            </li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-6 col-sm-12">
            <div class="card">
                <div class="card-header py-2 bg-info">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="text-white text-uppercase mb-0">Information</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="userForm">
                        <div class="form-group">
                            <label class="form-control-label">Full name</label>
                            <input 
                                [value]="user.full_name" 
                                class="form-control" 
                                type="text" 
                                placeholder="Full name" 
                                formControlName="full_name"
                            >
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Email</label>
                            <input 
                                [value]="user.email" 
                                class="form-control" 
                                disabled 
                                type="email"
                                placeholder="Email"
                            >
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">NRIC</label>
                            <input 
                                [value]="user.new_nric" 
                                class="form-control" 
                                type="number"
                                placeholder="9101010301919" 
                                formControlName="new_nric"
                            >
                        </div>
                    </form>
                    <button 
                        type="button" 
                        class="btn btn-info btn-md btn-block" 
                        (click)="updateInformation()"
                    >
                        Update
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="card">
                <div class="card-header bg-info py-2">
                    <h4 class="text-white text-uppercase mb-0">Change password</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="passwordForm">
                        <div class="form-group">
                            <label class="form-control-label">New password</label>
                            <input 
                                class="form-control" 
                                placeholder="New password" 
                                type="password" 
                                formControlName="new_password1"
                            >
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of passwordFormMessage.new_password1">
                                    <div 
                                        class="error-message" 
                                        *ngIf="passwordForm.get('new_password1').hasError(validation.type) && (passwordForm.get('new_password1').dirty || passwordForm.get('new_password1').touched)"
                                    >
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Confirm new password</label>
                            <input 
                                class="form-control"
                                placeholder="Confirm new password"
                                type="password" 
                                formControlName="new_password2"
                            >
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of passwordFormMessage.new_password2">
                                    <div 
                                        class="error-message"
                                        *ngIf="passwordForm.get('new_password2').hasError(validation.type) && (passwordForm.get('new_password2').dirty || passwordForm.get('new_password2').touched)"
                                    >
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                            <div class="validation-errors">
                                <ng-container *ngIf="passwordForm.value.new_password1 != passwordForm.value.new_password2">
                                    <div class="error-message">
                                        Password doesn't match
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <button 
                            type="button" 
                            class="btn btn-info btn-md btn-block" 
                            [disabled]="passwordForm.invalid" 
                            (click)="changePassword()"
                        >
                            Change
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>