<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <!--<ion-menu-button color="ghg-green"></ion-menu-button>-->
      <ion-back-button color="ghg-green"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-title>
    History
  </ion-title>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col>
        <div class="section-title">
          <h3>Past evaluation</h3>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header color="light">
            <ion-card-subtitle>
              <p class="m-0">16 December 2019</p>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none" class="history-list">
              <ion-thumbnail slot="start">
                <img [src]="imgHistoryThumbnail">
              </ion-thumbnail>
              <ion-label class="ion-text-wrap">
                <p>Syafiq Basri</p>
                <h5>No. 420, Tingkat 5,  Flat A1, Petaling Jaya</h5>
              </ion-label>
            </ion-item>
            <ion-chip class="chip-dark-green">
              <ion-icon name="checkmark-circle-outline" color="white" disabled></ion-icon>
              <ion-label>Evaluated</ion-label>
            </ion-chip>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>