<ngx-loading-bar></ngx-loading-bar>
<div class="header bg-transparent pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Applications</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a [routerLink]="['/dashboard']">
                  <i class="fas fa-home text-dark"> </i>
                </a>
              </li>

              <li aria-current="page" class="breadcrumb-item active">
                Applications
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body p-0">
          <div id="chartdiv" style="width: 100%; height: 500px"></div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-info py-2">
          <div class="row">
            <div class="col my-auto">
              <h4 class="text-white m-0">Applications Control</h4>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h4  *ngIf="isApplicationEnabled == true" class="m-0">Rebate Application Current Status&nbsp;&nbsp;<a class="badge badge-success text-dark">Open</a></h4>
          <h4  *ngIf="isApplicationEnabled == false" class="m-0">Rebate Application Current Status&nbsp;&nbsp;<a class="badge badge-danger text-dark">Closed</a></h4>
          <br>
          <div *ngIf="isApplicationEnabled == true">
            <h5 class="m-0 text-red">*Click disable button to disable rebate application</h5>
            <br>
            <a class="btn btn-danger text-white" (click)="toggleApplication(false)">Close Application</a>
          </div>

          <div *ngIf="isApplicationEnabled == false">
            <h5 class="m-0 text-red">*Click enable button to enable rebate application</h5>
            <br>
            <a class="btn btn-primary text-white" (click)="toggleApplication(true)">Open Application</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-info py-2">
          <div class="row">
            <div class="col my-auto">
              <h4 class="text-white m-0">Applications List</h4>
            </div>
          </div>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="
                      form-control form-control-sm
                      custom-select custom-select-sm
                    "
                    (change)="entriesChange($event)"
                  >
                    <option value="10" [selected]="tableEntries == 5">5</option>
                    <option value="25" [selected]="tableEntries == 10">
                      10
                    </option>
                    <option value="50" [selected]="tableEntries == 15">
                      15
                    </option>
                    <option value="-1" [selected]="tableEntries == -1">
                      All
                    </option>
                  </select>
                  records
                </label>
              </div>
            </div>

            <div class="col-sm-12 col-md-9">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search records"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div>

              

              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <select
                    name="status_filter"
                    aria-controls="datatable"
                    class="
                      form-control form-control-sm
                      custom-select custom-select-sm
                    "
                    (change)="entriesChangeYear($event)"
                  >
                    <option disabled hidden>Year</option>
                    <!--surprise-->
                    <option *ngFor="let year of yearlist" value="{{year}}">{{year}}</option>
                  </select>
                </label>
              </div>

              
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <select
                    name="status_filter"
                    aria-controls="datatable"
                    class="
                      form-control form-control-sm
                      custom-select custom-select-sm
                    "
                    (change)="entriesChangeStatus($event)"
                  >
                    <option disabled hidden>Status</option>
                    <option value="CR">Created</option>
                    <option value="IE">In Evaluation</option>
                    <option value="IP">In Progress</option>
                    <option value="SM">Submitted</option>
                    <option value="CM">Completed</option>
                    <option value="PD">Paid</option>
                    <option value="RJ">Rejected</option>
                  </select>
                </label>
              </div>
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <button (click)="generateEXCEL()" class="btn btn-sm btn-primary"><i class="fas fa-arrow-down">&nbsp;</i>EXCEL</button>
                </label>
              </div>
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <button (click)="generatePDF()" class="btn btn-sm btn-primary"><i class="fas fa-arrow-down">&nbsp;</i>PDF</button>
                </label>
              </div>
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <button (click)="resetButton()" class="btn btn-sm btn-primary"><i class="fas fa-arrows-rotate">&nbsp;</i>Reset</button>
                </label>
              </div>
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="tableEntries != -1 ? tableEntries : undefined"
            [rows]="tableTemp"
          >
            <ngx-datatable-column>
              <ng-template
                let-rowIndex="rowIndex"
                let-row="row"
                ngx-datatable-cell-template
              >
                {{ rowIndex + 1}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Applicant</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.applicant_name }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Date submitted</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.date_submitted }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Assessment Tax Account No.</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.applied_house_assessment_tax_account }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Nominated evaluator</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div *ngIf="row.evaluator_nominated_name == 'Not assigned'">
                  <span><i class="fas fa-info-circle mr-1"></i></span>{{
                  row.evaluator_nominated_name }}
                </div>
                <div *ngIf="row.evaluator_nominated_name != 'Not assigned'">
                  {{ row.evaluator_nominated_name }}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template
                ><span>Status</span></ng-template
              >
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div *ngIf="row.status == 'CM'">
                  <span class="badge badge-lg badge-default">Completed</span>
                </div>
                <div *ngIf="row.status == 'CR'">
                  <span class="badge badge-lg badge-success">Created</span>
                </div>
                <div *ngIf="row.status == 'IE'">
                  <span class="badge badge-lg badge-primary"
                    >In evaluation</span
                  >
                </div>
                <div *ngIf="row.status == 'IP'">
                  <span class="badge badge-lg badge-primary">In progress</span>
                </div>
                <div *ngIf="row.status == 'PD'">
                  <span class="badge badge-lg badge-default">Paid</span>
                </div>
                <div *ngIf="row.status == 'SM'">
                  <span class="badge badge-lg badge-success">Submitted</span>
                </div>
                <div *ngIf="row.status == 'RJ'">
                  <span class="badge badge-lg badge-danger">Rejected</span>
                </div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Action</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button
                  class="btn btn-icon btn-2 btn-primary btn-sm"
                  type="button"
                  (click)="viewDetail(row)"
                >
                  <span class="btn-inner--icon"
                    >View <i class="far fa-eye"></i
                  ></span>
                </button>
                <button
                  *ngIf="row.status != 'CM' && row.status != 'RJ' && row.status != 'PD'"
                  class="btn btn-icon btn-2 btn-danger btn-sm"
                  type="button"
                  (click)="deleteApplication(row)"
                >
                  <span class="btn-inner--icon"
                    >Delete <i class="fas fa-trash"></i
                  ></span>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
